<!-- sections/main-product.liquid -->
<div class="product-main">
  <h1>DEFAULT TEMPLATE {{ product.title }}</h1>
  {{ product.description }}
</div>

{% schema %}
{
  "name": "Main product",
  "settings": []
}
{% endschema %}
